#主要是针对每个站点的每个要素统计有效数据情况

In [1]:
import numpy as np
import os
import matplotlib.pyplot as plt
import glob
import datetime
import pandas as pd
data_path='/home/liuli/GTS_GFS_MOS/domestic_hourly_data/df_final_1100(rain).csv'
file0= pd.read_csv(data_path,sep=',')
df0=pd.DataFrame(file0)
df0=df0.replace(999999.0, np.nan) 
df0=df0.replace(999998.0, np.nan)
df0=df0.replace(9999.0, np.nan)
df0['sta']=df0['sta'].astype('str')
#df0['sta']=df0['sta'].replace('NaN','53603')
df0['time']=pd.DatetimeIndex(df0['time'])

print(df0.info())
print(df0.count())
df0

/home/liuli/anaconda3/envs/MOS/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7547526 entries, 0 to 7547525
Data columns (total 14 columns):
time    datetime64[ns]
sta     object
ht      float64
lat     float64
lon     float64
pr1     float64
pr24    float64
pr6     float64
ps      float64
psl     float64
t2m     float64
td      float64
wdir    float64
wspd    float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 806.2+ MB
None
time    7547526
sta     7547526
ht      5774025
lat     5926247
lon     5926247
pr1     3993983
pr24    4318105
pr6     4036309
ps      5421110
psl     5413749
t2m     5829005
td      5450439
wdir    5795054
wspd    5826611
dtype: int64

,time,sta,ht,lat,lon,pr1,pr24,pr6,ps,psl,t2m,td,wdir,wspd
0,2018-01-01 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.6,1021.5,15.9,12.1,120.0,2.0
1,2018-01-01 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.0,1018.7,18.7,12.1,140.0,2.0
2,2018-01-01 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.7,1020.6,16.0,12.4,90.0,2.0
3,2018-01-01 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.7,1020.6,16.4,12.2,80.0,2.0
4,2018-01-02 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.4,1021.2,17.2,13.1,130.0,3.0
5,2018-01-02 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1009.5,1017.2,18.9,12.1,120.0,2.0
6,2018-01-02 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.7,1019.5,17.9,14.3,130.0,4.0
7,2018-01-02 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.1,1018.8,18.4,13.3,120.0,2.0
8,2018-01-03 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.0,1019.7,18.8,13.6,120.0,4.0
9,2018-01-03 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1009.5,1017.2,21.7,13.8,120.0,4.0
10,2018-01-03 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1010.7,1018.5,18.5,14.6,100.0,2.0
11,2018-01-03 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1009.7,1017.5,19.0,13.8,110.0,4.0
12,2018-01-04 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1010.1,1017.8,18.7,14.8,120.0,3.0
13,2018-01-04 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1007.5,1015.2,19.4,14.8,110.0,3.0
14,2018-01-04 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1008.3,1016.0,17.9,15.5,120.0,5.0
15,2018-01-04 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1007.4,1015.1,17.6,15.9,130.0,2.0
16,2018-01-05 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1008.3,1016.0,19.4,16.6,120.0,1.0
17,2018-01-05 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1006.0,1013.7,21.7,17.4,130.0,3.0
18,2018-01-05 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1008.4,1016.2,17.4,16.4,110.0,3.0
19,2018-01-05 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1007.4,1015.2,16.3,14.9,120.0,4.0
20,2018-01-06 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1008.2,1016.1,15.6,14.6,130.0,3.0
21,2018-01-06 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1005.2,1013.1,15.7,14.1,120.0,5.0
22,2018-01-06 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1006.5,1014.3,15.7,14.8,120.0,4.0
23,2018-01-06 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1007.0,1014.8,15.5,14.6,100.0,3.0
24,2018-01-07 00:00:00,45004,66.4,22.31,114.17,NaN,NaN,NaN,1008.1,1016.0,16.2,15.2,110.0,3.0
25,2018-01-07 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1005.7,1013.5,17.4,15.2,110.0,5.0
26,2018-01-07 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1006.2,1014.0,17.3,15.6,120.0,6.0
27,2018-01-07 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1004.6,1012.3,17.2,16.5,120.0,3.0
28,2018-01-08 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1005.7,1013.5,17.8,17.5,110.0,1.0
29,2018-01-08 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1005.9,1013.7,15.9,15.0,290.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7547496,2018-12-24 18:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,1024.9,5.3,NaN,258.0,5.0
7547497,2018-12-25 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547498,2018-12-25 06:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,1021.2,8.0,NaN,300.0,5.0
7547499,2018-12-25 12:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,1021.6,7.1,NaN,300.0,3.0
7547500,2018-12-25 18:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,1015.6,3.7,NaN,354.0,10.0
7547501,2018-12-26 00:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547502,2018-12-26 06:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,1025.8,-0.4,NaN,10.0,11.6
7547503,2018-12-26 12:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547504,2018-12-26 18:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547505,2018-12-27 00:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547506,2018-12-27 06:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547507,2018-12-27 12:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547508,2018-12-27 18:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547509,2018-12-28 00:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547510,2018-12-28 06:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547511,2018-12-28 12:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547512,2018-12-28 18:00:00,22185,NaN,37.09,125.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547513,2018-12-29 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547514,2018-12-29 06:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547515,2018-12-29 12:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547516,2018-12-29 18:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547517,2018-12-30 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547518,2018-12-30 06:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547519,2018-12-30 12:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547520,2018-12-30 18:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547521,2018-12-31 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547522,2018-12-31 06:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547523,2018-12-31 12:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547524,2018-12-31 18:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547525,2019-01-01 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#申明一个不重复站点的df
df_qc=df0.drop_duplicates(subset = ['sta'],keep='first',inplace=False)
print(df_qc)

              time       sta     ht    lat     lon  pr1  pr24  pr6      ps  \
0       2018-01-01     45004   66.4  22.31  114.17  NaN   0.0  0.0  1013.6
1461    2018-01-01     45005   31.7  22.30  114.17  NaN   0.0  0.0  1016.7
2922    2018-01-01     V7ZZ5    NaN    NaN     NaN  NaN   NaN  NaN     NaN
4383    2018-01-01      FVNM    NaN   7.30  134.50  NaN   NaN  NaN     NaN
5844    2018-01-01     21638    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7305    2018-01-01     21707    NaN    NaN     NaN  NaN   NaN  NaN     NaN
8766    2018-01-01     21637    NaN    NaN     NaN  NaN   NaN  NaN     NaN
10227   2018-01-01     30686  294.0  53.47  122.40  NaN   NaN  NaN   989.2
11688   2018-01-01     31513  177.0  50.92  128.47  NaN   NaN  NaN   999.9
13149   2018-01-01     28383   66.0  57.52   72.40  NaN   NaN  NaN  1032.5
14610   2018-01-01     28586  117.0  55.87   72.22  NaN   NaN  NaN  1028.4
16071   2018-01-01     28588  126.0  55.57   71.37  NaN   NaN  NaN  1026.9
17532   2018-01-01     28688  126.0  54.93   71.27  NaN   NaN  NaN  1027.2
18993   2018-01-01     28696  110.0  55.03   74.58  NaN   NaN  NaN  1032.2
20454   2018-01-01     28791  114.0  54.63   72.43  NaN   NaN  NaN  1029.7
21915   2018-01-01     29557  211.0  55.75   88.30  NaN   NaN  NaN  1020.7
23376   2018-01-01     29625  141.0  55.10   80.97  NaN   NaN  NaN  1030.1
24837   2018-01-01     29813    NaN  53.98   79.25  NaN   NaN  NaN  1028.1
26298   2018-01-01     29822  129.0  53.82   81.27  NaN   NaN  NaN  1032.3
27759   2018-01-01     29915  125.0  52.97   78.65  NaN   NaN  NaN  1031.8
29220   2018-01-01     31913   87.0  45.22  131.98  NaN   NaN  NaN  1011.6
30681   2018-01-01     32128   44.0  47.05  142.05  NaN   NaN  NaN  1012.3
32142   2018-01-01     30961  639.0  50.95  115.58  NaN   NaN  NaN   949.4
33603   2018-01-01     30971  806.0  50.92  117.93  NaN   NaN  NaN   926.8
35064   2018-01-01     30978  550.0  49.83  118.38  NaN   NaN  NaN   959.0
36525   2018-01-01     21706    NaN    NaN     NaN  NaN   NaN  NaN     NaN
37986   2018-01-01      WTEE    NaN    NaN     NaN  NaN   NaN  NaN     NaN
39447   2018-01-01     21680    NaN    NaN     NaN  NaN   NaN  NaN     NaN
40908   2018-01-01     21595    NaN    NaN     NaN  NaN   NaN  NaN     NaN
42369   2018-01-01     21641    NaN    NaN     NaN  NaN   NaN  NaN     NaN
...            ...       ...    ...    ...     ...  ...   ...  ...     ...
7503696 2018-01-01   Hitachi    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7505157 2018-01-01     Daigo    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7506618 2018-01-01     Ohnoh    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7508079 2018-01-01   Edosaki    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7509540 2018-01-01    Tadami    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7511001 2018-01-01   Kashima    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7512462 2018-01-01    Nakano    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7513923 2018-01-01   Kakioka    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7515384 2018-01-01  Tsuchiur    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7516845 2018-01-01    Tokuda    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7518306 2018-01-01    Hirono    NaN    NaN     NaN  NaN   NaN  NaN     NaN
7519767 2018-01-01     22103    NaN  34.00  127.50  NaN   NaN  NaN     NaN
7521228 2018-01-01     22102    NaN  34.79  125.78  NaN   NaN  NaN     NaN
7522689 2018-01-01     22105    NaN  37.54  130.00  NaN   NaN  NaN     NaN
7524150 2018-01-01     22101    NaN  37.24  126.02  NaN   NaN  NaN     NaN
7525611 2018-01-01     21229    NaN  37.46  131.11  NaN   NaN  NaN     NaN
7527072 2018-01-01     22104    NaN  34.77  128.90  NaN   NaN  NaN     NaN
7528533 2018-01-01   5200087    NaN   7.87  136.50  NaN   NaN  NaN     NaN
7529994 2018-01-01     22187    NaN  33.13  127.02  NaN   NaN  NaN     NaN
7531455 2018-01-01     22186    NaN  35.66  125.81  NaN   NaN  NaN     NaN
7532916 2018-01-01     22188    NaN  34.39  128.23  NaN   NaN  NaN     NaN
7534377 2018-01-01     22190    NaN  36.91  129.87  NaN   NaN  NaN     NaN
7535838 2018-01-01     22189    NaN  35.35  129.84  NaN   NaN  NaN     NaN
7537299 2018-01-01   5200003    NaN   5.00  164.90  NaN   NaN  NaN     NaN
7538760 2018-01-01     22107    NaN  33.08  126.03  NaN   NaN  NaN     NaN
7540221 2018-01-01     22106    NaN  36.35  129.78  NaN   NaN  NaN     NaN
7541682 2018-01-01     22108    NaN  36.25  125.75  NaN   NaN  NaN     NaN
7543143 2018-01-01     22184    NaN  33.79  126.14  NaN   NaN  NaN     NaN
7544604 2018-01-01     22183    NaN  34.73  126.24  NaN   NaN  NaN     NaN
7546065 2018-01-01     22185    NaN  37.09  125.43  NaN   NaN  NaN     NaN

            psl    t2m     td   wdir  wspd
0        1021.5  15.90  12.10  120.0   2.0
1461     1021.5  16.60  12.90   80.0   4.0
2922        NaN    NaN    NaN    NaN   NaN
4383     1008.4  29.00  23.90  190.0   2.0
5844        NaN    NaN    NaN    NaN   NaN
7305        NaN    NaN    NaN    NaN   NaN
8766        NaN    NaN    NaN    NaN   NaN
10227    1028.7 -17.60 -19.80    0.0   0.0
11688    1023.7 -15.60 -17.40  330.0   1.0
13149    1041.2  -9.10  -9.10  210.0   3.0
14610    1044.6 -18.70 -21.10  160.0   2.0
16071    1044.2 -17.30 -19.70  180.0   1.0
17532    1044.5 -17.70 -19.60  160.0   1.0
18993    1047.7 -21.30 -23.60  140.0   1.0
20454    1045.5 -18.70 -21.30  160.0   1.0
21915    1050.5 -23.20 -26.40    0.0   0.0
23376    1050.1 -25.70 -28.80  200.0   1.0
24837    1050.3 -27.70 -30.90  140.0   1.0
26298    1051.4 -30.90 -34.90  270.0   1.0
27759    1049.9 -24.90 -28.00  120.0   1.0
29220    1023.9 -11.30 -14.30  310.0   3.0
30681    1017.7  -2.60  -8.30  120.0   5.0
32142    1037.1 -27.00 -29.80  360.0   1.0
33603    1035.6 -28.00 -30.70    0.0   0.0
35064    1036.0 -32.70 -36.60    0.0   0.0
36525       NaN    NaN    NaN    NaN   NaN
37986       NaN    NaN    NaN    NaN   NaN
39447       NaN    NaN    NaN    NaN   NaN
40908       NaN    NaN    NaN    NaN   NaN
42369       NaN    NaN    NaN    NaN   NaN
...         ...    ...    ...    ...   ...
7503696     NaN    NaN    NaN    NaN   NaN
7505157     NaN    NaN    NaN    NaN   NaN
7506618     NaN    NaN    NaN    NaN   NaN
7508079     NaN    NaN    NaN    NaN   NaN
7509540     NaN    NaN    NaN    NaN   NaN
7511001     NaN    NaN    NaN    NaN   NaN
7512462     NaN    NaN    NaN    NaN   NaN
7513923     NaN    NaN    NaN    NaN   NaN
7515384     NaN    NaN    NaN    NaN   NaN
7516845     NaN    NaN    NaN    NaN   NaN
7518306     NaN    NaN    NaN    NaN   NaN
7519767  1027.0   5.00    NaN  348.0   6.0
7521228  1028.1   5.60    NaN  312.0   7.7
7522689  1023.1   2.80    NaN  306.0   8.4
7524150  1028.3   2.90    NaN   18.0   4.4
7525611  1021.6   4.90    NaN  343.0  10.0
7527072  1025.7   3.90    NaN  355.0   9.2
7528533  1008.4  29.40    NaN  149.0   4.5
7529994  1027.3   7.70    NaN    3.0   7.8
7531455  1030.0   5.20    NaN  356.0   6.6
7532916  1026.7   3.80    NaN  322.0   3.9
7534377  1023.7   4.30    NaN  335.0   6.8
7535838  1023.4   5.60    NaN  332.0  13.2
7537299     NaN  26.27  24.14    NaN   7.3
7538760  1028.0   7.30    NaN  355.0   6.7
7540221  1023.7   3.30    NaN  313.0  12.5
7541682  1028.4   3.80    NaN   50.0   4.8
7543143  1027.1   5.80    NaN  331.0   6.2
7544604  1027.8   3.20    NaN  100.0   1.5
7546065  1009.8   2.70    NaN   41.0   3.9

[5166 rows x 14 columns]

In [3]:
#开始针每个站点的每个要素统计有效数字
cols=['pr6']
name = 'statistics_valid_data_rain_0.8.txt'
f=open(name,'w')
for i in df_qc['sta']:   
    df2=df0[df0['sta'].isin([i])] #先挑出这个站号的行    
    df2=df2.reset_index(drop=True)
    #print(df2)  
    #print(df2)
    
    for co in cols:   #去掉前几个站点位置属性信息     
        num=df2[co].count()
        rate=num/len(df2)
        if rate>=0.8: #
            line=[]
            line=str(i)+'\t'+str(co)+'\t'+str(rate)+'\n'
            f.write(line)
        #把每种要素的有效率结果存入文件
        #print(i,co,rate)
    del df2